.block-page-title-block .page-title {
  font-weight: bold;
}

.group-bulk-operations-multiple-group-assign-role-configure .group-bulk-warning,
.group-bulk-operations-multiple-group-assign-role-configure .group-bulk-heading,
.group-bulk-operations-remove-user-multiple-group-configure .group-bulk-heading {
  padding: 20px;
}

.group-bulk-operations-multiple-group-assign-role-configure .group-bulk-warning .item-list h3,
.group-bulk-operations-multiple-group-assign-role-configure .group-bulk-heading .item-list h3,
.group-bulk-operations-remove-user-multiple-group-configure .group-bulk-heading .item-list h3 {
  font-size: 1rem;
  font-weight: 500;
}

.group-bulk-operations-multiple-group-assign-role-configure .group-bulk-heading #edit-group-roles--wrapper legend {
  font-weight: 500;
}

.group-bulk-operations-multiple-group-assign-role-configure #edit-actions,
.group-bulk-operations-remove-user-multiple-group-configure #edit-actions {
  margin-top: 0;
}

.group-bulk-operations-multiple-group-assign-role-configure .group-bulk-heading .js-form-type-entity-autocomplete.form-type-entity-autocomplete label,
.group-bulk-operations-remove-user-multiple-group-configure .group-bulk-heading .js-form-type-entity-autocomplete.form-type-entity-autocomplete label {
  font-size: 1rem;
  font-weight: 500;
}
